.minmax {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.temperatures {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    align-items: center;
    div {
        display: flex;
        align-items: center;
    }
    p {
        margin: 0.5rem 0 0.5rem 0.3rem;
    }
    span {
        align-self: start;
        margin: 0.7rem 0;
        font-size: 1rem;
      }
}