//Fonts

$font-stack: Helvetica, "Helvetica Neue", Arial, "Lucida Grande",
sans-serif;


//Colours

$primary-colour: #2a2a29;
$secondary-colour: #494948;
$tertiary-colour: #b9b9b8;



$highlight-colour: #025686;
$highlight-secondary-colour: #6acee6;
$highlight-tertiary-colour: #ffed00;


$font-colour: #fdfdfe;
$font-secondary-colour: #f6f6f6;


